*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

//____________________________________________________________
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@400;500;600;700;800;900&display=swap');

.container-1 {
	width: 100%;
	font-family: "Montserrat";
	background: url('../img/bg-1.webp') 20% 60px/cover no-repeat;
	position: relative;
	.list-1 {
		width: 100%;
		min-height: 400px;
		margin: 0 auto;
		.logo-text {
			h1 {
				text-align: center;
				width: 95%;
				display: inline-block;
				font-size: 50px;
				letter-spacing: -3px;
				line-height: 48px;
				font-weight: bold;
				color: #fff;
				margin: 80px 0 60px 0;
			}
			h1::before {
				content: "We ";
				color: #ffc600;
			}
		}
		.phone-menu {
			display: block;
			top: 0;
			width: 100vw;
			position: absolute;
			z-index: 5;
			height: 60px;
			background-color: #000;
			display: flex;
			justify-content: space-between;
			align-items: center;
			p {
				color: #fff;
				font-size: 28px;
				font-weight: 600;
				margin-left: 5px;
			}
			.bar-ico {
				width: 50px;
				height: 50px;
				background: url('../ico/menu.svg') center no-repeat;
				transition: 0.3s;
			}
			.bar-ico-active {
				width: 50px;
				height: 50px;
				background: url('../ico/menu-active.svg') center no-repeat;
				transition: 0.3s;
			}
		}
		.menu {
			position: absolute;
			z-index: 2;
			top: -250px;
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			background-color: #000;
			min-height: 250px;
			transition: 0.5s;
			li a {
				display: inline-block;
				font-size: 18px;
				color: #ffc600;
				transition: all 0.3s ease 0s;
				line-height: 20px;
			}
			li a:hover {
				color: #fff;
			}
		}
		.menu-active {
			position: absolute;
			z-index: 2;
			top: 60px;
			width: 100%;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			background-color: #000;
			min-height: 250px;
			transition: 0.5s;
			li a {
				display: inline-block;
				font-size: 18px;
				color: #ffc600;
				transition: all 0.3s ease 0s;
				line-height: 20px;
			}
			li a:hover {
				color: #fff;
			}
		}
	}
}

/////////222222222222222/////////

.container-2 {
	font-family: "Roboto";
	width: 100%;
	.list-2 {
		width: 95%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		padding: 35px 0;
		.header-text {
			text-align: center;
			p {
				font-size: 40px;
				color: #717171;
				font-weight: bold;
			}
			h1 {
				font-size: 70px;
				font-weight: bold;
				color: #000000;
			}
			h1::first-letter {
				color: #ffc600;
			}
		}
		.text {
			font-family: "Open Sans";
			h1 {
				font-size: 16px;
				color: #000000;
				font-weight: 600;
				margin-bottom: 20px;
				line-height: 20px;

			}
			p {
				font-size: 16px;
				color: #000000;
				font-weight: 400;
				line-height: 20px;
			}
		}
		.app, .game, .content {
			text-align: center;
			margin: 20px 0;
			h1 {
				font-size: 16px;
				color: #000000;
				margin: 25px 0 10px 0;
			}
			p {
				font-family: "Open Sans";
				font-size: 14px;
				color: #000000;
				line-height: 20px;
				margin: 10px 0 10px 0;
			}
		}
	}
}

///////33333333333333333333////////

.container-3 {
	width: 100%;
	font-family: "Montserrat";
	.list-3 {
		padding: 0 0 0 0;
		width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns:  1fr;
		grid-auto-rows: 250px;
		.div-menu {
			display: grid;
			grid-template-columns: 1fr;
			h1 {
				font-size: 25px;
				color: #000;
				font-weight: bold;
			}
			h1:first-letter {
				color: #ffc600;
			}
			.sub-menu {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				li a {
					display: block;
					padding: 8px 0;
					color: #101010;
					font-size: 14px;
					margin-right: 30px;
					font-weight: 600;
					transition: all 0.3s ease 0s;
					border: 4px solid rgba(0, 0, 0, 0);
				}
				li:hover a {
					color: #000;
					border-bottom: 4px solid #ffc600;
				}
			}
		}
		.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8 {
			overflow: hidden;
			background-color: #000;
			cursor: pointer;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
				transition: all 0.5s ease 0s;
			}
		}
		div:hover {
			img {
				opacity: 0.5;
			}
		}
	}
}
//////444444444444444444444//////
.container-4 {
	width: 100%;
	.list-4 {
		width: 95%;
		margin: 0 auto;
		padding: 30px 0 30px 0;
		.text-content {
			margin-bottom: 30px;
			h1 {
				font-family: "Montserrat";
				font-size: 22px;
				color: #000;
				font-weight: bold;
			}
			h1::first-letter {
				color: #ffc600;
			}
			h2 {
				font-family: "Open Sans";
				font-size: 12px;
				color: #000000;
				line-height: 24px;
				font-weight: 600;
				margin: 25px 0 20px 0;
			}
			p {
				font-family: "Open Sans";
				font-size: 12px;
				color: #000000;
				line-height: 24px;
				font-weight: 400;
			}
		}
		.content-2 {
			display: none;
		}
		.content-1, .content-2-1, .content-3 {
			margin: 15px 0;
			min-height: 400px;
			display: flex;
			flex-direction: column;
			.div-img {
				width: 100%;
				height: 33%;
				overflow: hidden;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
			.div-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				margin: 10px 0 10px 0;
				h1 {
					font-family: "Montserrat";
					font-size: 22px;
					color: #000;
					font-weight: bold;
				}
				h2 {
					font-family: "Open Sans";
					font-size: 12px;
					color: #000000;
					line-height: 20px;
					font-weight: 600;
					margin: 15px 0 10px 0;
				}
				p {
					font-family: "Open Sans";
					font-size: 12px;
					color: #000000;
					line-height: 20px;
					font-weight: 400;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 5;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
}

///////55555555555555////////

.container-5 {
	width: 100%;
	background: url('../img/bg-5.webp') top/cover no-repeat;
	.list-5 {
		width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-gap: 20px 30px;
		padding: 30px 0 30px 0;
		.content-style {
			font-family: "Open Sans";
			h1 {
				font-size: 18px;
				color: #ffffff;
				margin-bottom: 25px;
			}
			p {
				font-size: 12px;
				color: #ffffff;
				line-height: 20px;
			}
		}
		.content-1 {
			h1 {
				font-family: "Montserrat";
				font-size: 40px;
				color: #fff;
				font-weight: bold;
			}
			h1::first-letter {
				color: #ffc600;
			}
		}
	}
}

/////6666666666666666666//////////////

.container-6 {
	width: 100%;
	.list-6 {
		width: 95%;
		margin: 0 auto;
		padding: 30px 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-gap: 30px;
		.div-theme {
			h1 {
				font-family: "Montserrat";
				font-size: 22px;
				color: #000;
				font-weight: bold;
			}
			h1::first-letter {
				color: #ffc600;
			}
		}
		.div-text {
			font-family: "Open Sans";
			h1 {
				font-size: 14px;
				color: #000000;
				line-height: 20px;
				font-weight: 600;
				margin-bottom: 20px;
			}
			p {
				font-size: 12px;
				color: #000000;
				line-height: 20px;
			}
		}
		.team {
			display: grid;
			grid-template-columns: repeat(auto-fit, 135px);
			grid-auto-rows: auto;
			grid-gap: 30px;
			font-family: "Open Sans";
			justify-content: center;
			.john {
				overflow: hidden;
				text-align: center;
				img {
					max-width: 150px;
					object-fit: cover;
					object-position: right;
				}
				h1 {
					font-size: 14px;
					color: #000000;
					line-height: 20px;
					font-weight: 600;
					margin: 10px 0 5px 0;
				}
				p {
					font-size: 12px;
					color: #000000;
					line-height: 20px;
				}
			}
		}
	}
}

//////////77777777777777777777///////////

.container-7 {
	width: 100%;
	background-color: #000;
	.list-7 {
		max-width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		padding: 30px 0 30px 0;
		.div-theme {
			h1 {
				font-family: "Montserrat";
				font-size: 28px;
				color: #fff;
				font-weight: bold;
			}
			h1::first-letter {
				color: #ffc600;
			}
			h2 {
				font-family: "Open Sans";
				font-size: 14px;
				color: #fff;
				line-height: 20px;
				font-weight: 600;
				margin: 25px 0 20px 0;
			}
			p {
				font-family: "Open Sans";
				font-size: 12px;
				color: #fff;
				line-height: 20px;
			}
		}
		.john {
			text-align: center;
			font-family: "Open Sans";
			img {
				width: 128px;
				height: 128px;
				border-radius: 50%;
				border: 5px solid #ffc600;
			}
			h1 {
				font-size: 16px;
				color: #fff;
				line-height: 20px;
				font-weight: 600;
				margin: 20px 0 5px 0;
			}
			p {
				font-size: 16px;
				color: #fff;
				line-height: 20px;
			}
		}
	}
}

///////8888888888888888888888////////////
.container-8 {
	width: 100%;
	.list-8 {
		width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		padding: 30px 0;
		.div-blog {
			text-align: center;
			font-family: "Montserrat";
			h1 {
				font-size: 22px;
				color: #000;
				font-weight: bold;
			}
			h1::first-letter {
				color: #ffc600;
			}
			.blog-menu {
				display: flex;
				flex-direction: column;
				margin: 20px 0 0 0px;
				li a {
					display: inline-block;
					padding: 5px 0;
					font-size: 14px;
					color: #000;
					border-bottom: 4px solid rgba(0, 0, 0, 0);
				}
				li a:hover {
					border-bottom: 4px solid #ffc600;
				}
			}
		}
		.div-blog-info {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(135px, 250px));
			justify-content: center;
			grid-gap: 20px;
			.info-1 {
				overflow: hidden;
				.div-img {
					width: 100%;
					height: 200px;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: center;
					}
				}
				h1 {
					font-family: "Montserrat";
					font-size: 14px;
					color: #000;
					font-weight: bold;
					margin: 25px 0 20px 0;
				}
				h2 {
					font-family: "Open Sans";
					font-size: 12px;
					color: #000;
					line-height: 20px;
					font-weight: 600;
				}
				p {
					font-family: "Open Sans";
					font-size: 12px;
					color: #000;
					line-height: 20px;
				}
			}
		}
	}
}

/////////999999999999999999999/////////////

.container-9 {
	width: 100%;
	.list-9 {
		width: 95%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-gap: 20px;
		.map {
			width: 100%;
			height: 300px;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
		.contact-us {
			font-family: "Open Sans";
			background-color: #2046b3;
			padding: 50px 0 50px 30px;
			.div-form {
				h1 {
					font-size: 40px;
					color: #fff;
					font-weight: bold;
					margin-bottom: 20px;
				}
				h1::first-letter {
					color: #ffc600;
				}
				form {
					display: grid;
					grid-template-columns: repeat(5, 1fr);
					grid-auto-rows: auto;
					grid-gap: 20px;
					input, textarea {
						border: 1px solid #000;
						padding: 10px;
						background: none;
						border: 3px solid #fff;
						color: #fff;
						transition: all 0.3s ease 0s;
					}
					input:focus, textarea:focus {
						border: 3px solid #ffc600;
					}
					input:nth-child(1) {
						grid-column: 1 / 5;
						grid-row: 1 / 2;
					}
					input:nth-child(2) {
						width: 100%;
						grid-column: 1 / 5;
						grid-row: 2 / 3;
					}
					input:nth-child(3) {
						width: 100%;
						grid-column: 1 / 5;
						grid-row: 3 / 4;
					}
					textarea {
						width: 100%;
						grid-column: 1 / 5;
						grid-row: 4 / 6;
						resize: none;
					}
					input:nth-child(4) {
						grid-column: 1 / 3;
						grid-row: 6 / 7;
						cursor: pointer;
						transition: all 0.3s ease 0s;
					}
					input:nth-child(4):hover {
						background-color: #ffc600;
						color: #000;
					}
					#error {
						grid-column: 3 / 5;
						grid-row: 6 / 7;
						align-self: center;
						color: red;
						font-size: 16px;
					}
				}
			}
			.contact-info {
				font-family: "Open Sans";
				margin-top: 20px;
				.addres, .phone, .email {
					line-height: 20px;
					color: #fff;
					margin-bottom: 10px;
				}
				.addres:before {
					content: "Addres:";
					font-size: 16px;
					font-weight: 600;
					margin-right: 20px;
				}
				.phone:before {
					content: "Phone:";
					font-size: 16px;
					font-weight: 600;
					margin-right: 20px;
				}
				.email:before {
					content: "Email:";
					font-size: 16px;
					font-weight: 600;
					margin-right: 20px;
				}
				.soccial {
					display: grid;
					grid-template-columns: repeat(3, 28px);
					grid-gap: 20px;
					a {
						margin-top: 10px;
					}
				}
			}
		}
	}
}

////////FOOTER/////////////

footer {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	padding: 50px 0 0 0;
	.sub-footer {
		font-family: "Montserrat";
		padding: 50px 0;
		background-color: #000;
		min-height: 500px;
		h1 {
			font-size: 40px;
			color: #fff;
			font-weight: bold;
			margin-bottom: 20px;
			margin-left: 30px;
		}
		h1::first-letter {
			color: #ffc600;
		}
		.footer-menu {
			display: flex;
			flex-direction: column;
			margin-left: 30px;
			li a {
				display: inline-block;
				padding: 10px 0;
				color: #fff;
				font-size: 16px;
				transition: all 0.3s ease 0s;
			}
			li a:hover {
				color: #ffc600;
			}
		}
	}
	.footer-info {
		display: none;
	}
}

///////////MEDIA/////////////////
////////////////////////////////

@media (max-height: 428px) {

}
